### ロジスティック回帰

In [27]:
# -*- coding: utf-8 -*-
from sklearn.linear_model import LogisticRegression # ロジスティック回帰用
from sklearn.cross_validation import train_test_split # クロスバリデーションのsplit用
import statsmodels.api as sm
import pandas as pd
import numpy as np

df = sm.datasets.fair.load_pandas().data # 不倫データのロード

In [28]:
df.head()

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666

In [29]:
df.age

0       32.0
1       27.0
2       22.0
3       37.0
4       27.0
5       27.0
6       37.0
7       37.0
8       22.0
9       27.0
10      27.0
11      27.0
12      37.0
13      27.0
14      22.0
15      37.0
16      27.0
17      37.0
18      42.0
19      37.0
20      22.0
21      37.0
22      42.0
23      27.0
24      27.0
25      27.0
26      27.0
27      37.0
28      32.0
29      27.0
        ...
6336    42.0
6337    27.0
6338    42.0
6339    32.0
6340    27.0
6341    27.0
6342    22.0
6343    17.5
6344    32.0
6345    27.0
6346    22.0
6347    22.0
6348    27.0
6349    37.0
6350    32.0
6351    22.0
6352    42.0
6353    22.0
6354    42.0
6355    27.0
6356    32.0
6357    32.0
6358    27.0
6359    22.0
6360    22.0
6361    32.0
6362    32.0
6363    22.0
6364    32.0
6365    22.0
Name: age, dtype: float64

In [30]:
df.age[0]

32.0

In [31]:
occ_dummies  = pd.get_dummies(df.occupation)
hus_occ_dummies  = pd.get_dummies(df.occupation_husb)

In [32]:
occ_dummies.columns = ['occ1','occ2','occ3','occ4','occ5','occ6']
hus_occ_dummies.columns = ['hocc1','hocc2','hocc3','hocc4','hocc5','hocc6']
occ_dummies.head()

   occ1  occ2  occ3  occ4  occ5  occ6
0     0     1     0     0     0     0
1     0     0     1     0     0     0
2     0     0     1     0     0     0
3     0     0     0     0     1     0
4     0     0     1     0     0     0

In [33]:
X = df.drop(['occupation', 'occupation_husb'], axis =1)

In [34]:
X

      rate_marriage   age  yrs_married  children  religious  educ    affairs
0               3.0  32.0          9.0       3.0        3.0  17.0   0.111111
1               3.0  27.0         13.0       3.0        1.0  14.0   3.230769
2               4.0  22.0          2.5       0.0        1.0  16.0   1.400000
3               4.0  37.0         16.5       4.0        3.0  16.0   0.727273
4               5.0  27.0          9.0       1.0        1.0  14.0   4.666666
5               4.0  27.0          9.0       0.0        2.0  14.0   4.666666
6               5.0  37.0         23.0       5.5        2.0  12.0   0.852174
7               5.0  37.0         23.0       5.5        2.0  12.0   1.826086
8               3.0  22.0          2.5       0.0        2.0  12.0   4.799999
9               3.0  27.0          6.0       0.0        1.0  16.0   1.333333
10              2.0  27.0          6.0       2.0        1.0  16.0   3.266665
11              5.0  27.0          6.0       2.0        3.0  14.0   2.041666
12              3.0  37.0         16.5       5.5        1.0  12.0   0.484848
13              5.0  27.0          6.0       0.0        2.0  14.0   2.000000
14              4.0  22.0          6.0       1.0        1.0  14.0   3.266665
15              4.0  37.0          9.0       2.0        2.0  14.0   1.361111
16              4.0  27.0          6.0       1.0        1.0  12.0   2.000000
17              1.0  37.0         23.0       5.5        4.0  14.0   1.826086
18              2.0  42.0         23.0       2.0        2.0  20.0   1.826086
19              4.0  37.0          6.0       0.0        2.0  16.0   2.041666
20              5.0  22.0          2.5       0.0        2.0  14.0   7.839996
21              3.0  37.0         16.5       5.5        2.0   9.0   2.545454
22              3.0  42.0         23.0       5.5        3.0  12.0   0.532609
23              2.0  27.0          9.0       2.0        4.0  20.0   0.622222
24              4.0  27.0          6.0       1.0        2.0  12.0   0.583333
25              5.0  27.0          2.5       0.0        3.0  16.0   4.799999
26              2.0  27.0          6.0       2.0        2.0  12.0   0.166667
27              5.0  37.0         13.0       1.0        3.0  12.0   0.615385
28              2.0  32.0         16.5       2.0        2.0  12.0   1.187878
29              3.0  27.0          6.0       1.0        1.0  14.0  11.199999
...             ...   ...          ...       ...        ...   ...        ...
6336            5.0  42.0         23.0       4.0        3.0  14.0   0.000000
6337            5.0  27.0          6.0       0.0        4.0  14.0   0.000000
6338            5.0  42.0         23.0       2.0        3.0  12.0   0.000000
6339            4.0  32.0         13.0       3.0        3.0  16.0   0.000000
6340            5.0  27.0         13.0       3.0        3.0  16.0   0.000000
6341            5.0  27.0          9.0       1.0        2.0  14.0   0.000000
6342            4.0  22.0          2.5       0.0        2.0  16.0   0.000000
6343            5.0  17.5          2.5       0.0        4.0  12.0   0.000000
6344            4.0  32.0         16.5       2.0        2.0  12.0   0.000000
6345            5.0  27.0          9.0       1.0        3.0  12.0   0.000000
6346            4.0  22.0          2.5       0.0        4.0  14.0   0.000000
6347            5.0  22.0          2.5       1.0        2.0  12.0   0.000000
6348            5.0  27.0          0.5       0.0        4.0  20.0   0.000000
6349            5.0  37.0         16.5       3.0        3.0  14.0   0.000000
6350            5.0  32.0         13.0       2.0        4.0  14.0   0.000000
6351            4.0  22.0          0.5       0.0        2.0  16.0   0.000000
6352            5.0  42.0         23.0       2.0        4.0  12.0   0.000000
6353            5.0  22.0          2.5       2.0        2.0  14.0   0.000000
6354            5.0  42.0         23.0       4.0        4.0  12.0   0.000000
6355            4.0  27.0          6.0       0.0        3.0  12.0   0.000000
6356            5.0  32.0         13.0       3.0        3.0  12.0   0.000000
6357            5.0  32.0         13.0       4.0        2.0  14.0   0.000000
6358            3.0  27.0          6.0       2.0        4.0  14.0   0.000000
6359            4.0  22.0          2.5       0.0        3.0  16.0   0.000000
6360            5.0  22.0          2.5       0.0        2.0  14.0   0.000000
6361            5.0  32.0         13.0       2.0        3.0  17.0   0.000000
6362            4.0  32.0         13.0       1.0        1.0  16.0   0.000000
6363            5.0  22.0          2.5       0.0        2.0  14.0   0.000000
6364            5.0  32.0          6.0       1.0        3.0  14.0   0.000000
6365            4.0  22.0          2.5       0.0        2.0  16.0   0.000000

[6366 rows x 7 columns]

In [35]:
dummys = pd.concat([occ_dummies,hus_occ_dummies],axis =1)
X  = pd.concat([X,dummys],axis = 1)
X.head()

,rate_marriage,age,yrs_married,children,religious,educ,affairs,occ1,occ2,occ3,occ4,occ5,occ6,hocc1,hocc2,hocc3,hocc4,hocc5,hocc6
0,3.0,32.0,9.0,3.0,3.0,17.0,0.111111,0,1,0,0,0,0,0,0,0,0,1,0
1,3.0,27.0,13.0,3.0,1.0,14.0,3.230769,0,0,1,0,0,0,0,0,0,1,0,0
2,4.0,22.0,2.5,0.0,1.0,16.0,1.400000,0,0,1,0,0,0,0,0,0,0,1,0
3,4.0,37.0,16.5,4.0,3.0,16.0,0.727273,0,0,0,0,1,0,0,0,0,0,1,0
4,5.0,27.0,9.0,1.0,1.0,14.0,4.666666,0,0,1,0,0,0,0,0,0,1,0,0

In [44]:
X = X.drop('rate_marriage',axis=1)
X.head()

,age,yrs_married,children,religious,educ,occ1,occ2,occ3,occ4,occ5,occ6,hocc2,hocc3,hocc4,hocc5,hocc6
0,32.0,9.0,3.0,3.0,17.0,0,1,0,0,0,0,0,0,0,1,0
1,27.0,13.0,3.0,1.0,14.0,0,0,1,0,0,0,0,0,1,0,0
2,22.0,2.5,0.0,1.0,16.0,0,0,1,0,0,0,0,0,0,1,0
3,37.0,16.5,4.0,3.0,16.0,0,0,0,0,1,0,0,0,0,1,0
4,27.0,9.0,1.0,1.0,14.0,0,0,1,0,0,0,0,0,1,0,0

In [45]:
Y  = df.rate_marriage
Y  = np.ravel(Y)

In [46]:
log_model =  LogisticRegression()
log_model.fit(X,Y)
log_model.score(X,Y)

0.42365692742695571

In [47]:
coeff_df = DataFrame([X.columns, log_model.coef_[0]]).T
coeff_df

NameError: name 'DataFrame' is not defined